# Prerequisites
*.d
*.db

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

Mu/obj/*
bin_Debug_x64/*

# Executables
*.exe
*.out
*.app

# Vim extensions
.clang_complete

# Editor Files
.vs
.vscode
.idea

